In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sas

In [9]:
df=pd.read_excel(r'C:\Users\dumindu yasa\Desktop\sdgp\DS\EWPS_2.xlsx')
print (df)

            JobNo  suffix                     ItemCode ColorGroup  UoM  \
0      1900010101       0         FW380049-015BK-0010E        NaN  Mts
1      1900010101       0         FW380049-015BK-0010E        NaN  Mts
2      1900010101       0         FW380049-015BK-0010E        NaN  Mts
3      1900010101       1                 FW380049-015        NaN  Kgs
4      1900010101       2  BMY-FW380049-015-51000016-F        NaN  Kgs
...           ...     ...                          ...        ...  ...
52271  B204050102       0                 FW380471-032        NaN  Kgs
52272  B204050102       1  BMY-FW380471-032-51000016-F        NaN  Kgs
52273  B204050102       2  BMY-FW380471-032-51000016-B        NaN  Kgs
52274  B204050102       3  BMY-FW380471-032-51000016-S        NaN  Kgs
52275  B204050102       4  BMR-FW380471-032-FDCY000020        NaN  Kgs

            QtyCom  QtyScrp      WC  MtrWgt
0      8185.538881     0.00  F1_DYE    0.00
1      8185.538881     0.00   F1_QA    0.00
2      8000.000000   214.00   F1_PK    0.00
3       123.290000     8.79  F2_JAC    7.33
4        35.400000     0.00   F1_WP    0.00
...            ...      ...     ...     ...
52271   207.870000     2.50  F1_WEV   20.77
52272    74.920000     0.00   F1_WP    0.00
52273    53.220000     2.82   F1_WP    0.00
52274    97.530000     3.38   F1_WP    0.00
52275   110.900000     2.14   F1_WP    0.00

[52276 rows x 9 columns]

In [10]:
df[df.suffix==0 ]

,JobNo,suffix,ItemCode,ColorGroup,UoM,QtyCom,QtyScrp,WC,MtrWgt
0,1900010101,0,FW380049-015BK-0010E,NaN,Mts,8185.538881,0.00,F1_DYE,0.00
1,1900010101,0,FW380049-015BK-0010E,NaN,Mts,8185.538881,0.00,F1_QA,0.00
2,1900010101,0,FW380049-015BK-0010E,NaN,Mts,8000.000000,214.00,F1_PK,0.00
7,1900010102,0,FW380049-015BK-0010E,NaN,Mts,7777.000000,0.00,F1_DYE,0.00
8,1900010102,0,FW380049-015BK-0010E,NaN,Mts,7777.000000,0.00,F1_QA,0.00
...,...,...,...,...,...,...,...,...,...
52257,B204020101,0,FK028082-012BK/GR,NaN,Kgs,65.800000,0.00,F1_KNT,4.73
52258,B204020101,0,FK028082-012BK/GR,NaN,Kgs,106.800000,5.80,F1_KNT,4.73
52261,B204030101,0,FK028082-012BK/GR,NaN,Kgs,162.250000,3.13,F1_KNT,4.73
52266,B204050101,0,FW380471-032,NaN,Kgs,160.820000,3.25,F1_WEV,20.77
52271,B204050102,0,FW380471-032,NaN,Kgs,207.870000,2.50,F1_WEV,20.77

In [11]:
df.JobNo.value_counts()

2007130101    10
2007120101    10
2013940201    10
2000150202     9
2008060101     9
              ..
1916260101     1
2011380102     1
1915702602     1
1916260301     1
2004240201     1
Name: JobNo, Length: 14369, dtype: int64

In [23]:
df.suffix.value_counts()

0    36456
1     6062
2     4878
3     3529
4     1090
5      211
6       34
7       11
8        5
Name: suffix, dtype: int64

In [28]:
df[df.suffix==1 ]

,JobNo,suffix,ItemCode,ColorGroup,UoM,QtyCom,QtyScrp,WC,MtrWgt
3,1900010101,1,FW380049-015,NaN,Kgs,123.29,8.79,F2_JAC,7.33
13,1900010201,1,FW380049-015,NaN,Kgs,171.15,9.23,F1_WEV,7.33
20,1900010202,1,FW380049-015,NaN,Kgs,55.20,5.75,F1_WEV,7.33
27,1900010301,1,FW380049-015,NaN,Kgs,165.90,9.71,F1_WEV,7.33
31,1900010302,1,FW380049-015,NaN,Kgs,69.20,3.05,F2_JAC,7.33
...,...,...,...,...,...,...,...,...,...
52254,B204010101,1,BMY-FW380509-015-51000012,NaN,Kgs,10.57,0.00,F1_WP,0.00
52259,B204020101,1,BMY-FK028082-012BK-51000140,NaN,Kgs,13.81,1.66,F1_WP,0.00
52262,B204030101,1,BMY-FK028082-012BK-51000140,NaN,Kgs,21.32,0.00,F1_WP,0.00
52267,B204050101,1,BMY-FW380471-032-51000016-F,NaN,Kgs,65.28,1.32,F1_WP,0.00
52272,B204050102,1,BMY-FW380471-032-51000016-F,NaN,Kgs,74.92,0.00,F1_WP,0.00

In [18]:
df[df.WC=='F2_JAC']

,JobNo,suffix,ItemCode,ColorGroup,UoM,QtyCom,QtyScrp,WC,MtrWgt
3,1900010101,1,FW380049-015,NaN,Kgs,123.290000,8.79,F2_JAC,7.33
31,1900010302,1,FW380049-015,NaN,Kgs,69.200000,3.05,F2_JAC,7.33
35,1900010303,1,FW380049-015,NaN,Kgs,3.450000,0.25,F2_JAC,7.33
70,1900010701,1,FW380049-015,NaN,Kgs,169.250000,8.81,F2_JAC,7.33
76,1900010702,1,FW380049-015,NaN,Kgs,72.100000,1.50,F2_JAC,7.33
...,...,...,...,...,...,...,...,...,...
51962,B203450203,0,FJ104018-032.0BK/WH/GR,NaN,Kgs,380.640002,33.55,F2_JAC,19.66
51966,B203460101,0,FJ101980-032.0/GR,NaN,Kgs,472.230003,121.48,F2_JAC,17.00
51970,B203460102,0,FJ101980-032.0/GR,NaN,Kgs,472.240001,70.45,F2_JAC,17.00
51974,B203460103,0,FJ101980-032.0/GR,NaN,Kgs,474.500001,81.84,F2_JAC,17.00
51978,B203460104,0,FJ101980-032.0/GR,NaN,Kgs,661.130000,71.31,F2_JAC,17.00